<div class="card">
  <div class="card-header">
    <h4 class="card-title" style="float: left;">Danh sách vật tư</h4>
    <button style="float: right;" pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded" (click)="selectedEquipment(null, null)"></button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <p-table [columns]="cols" [value]="dataGridEquip" [paginator]="true" [rows]="3" selectionMode="single">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr (dblclick)="selectedEquipment($event, rowData)">
            <td>
              <img src="/assets/img/system/{{rowData['IMAGE']}}"
                    style="width: 60px;height: 60px;"
                >
              <!-- {{rowData['IMAGE']}} -->
            </td>
            <td>
              {{rowData['NAME']}}
            </td>
            <td>
              {{rowData['PRICE']}}
            </td>
            <td>
              {{rowData['ABOUT']}}
            </td>
            <!-- <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td> -->
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>