<div class="card card-user">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Tên đăng nhập</label><span style="color: red">*</span>
          <input
            type="text"
            class="form-control"
            placeholder="username..."
            [(ngModel)]="request.USERNAME"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Mật khẩu</label><span style="color: red">*</span>
          <input
            type="password"
            class="form-control"
            placeholder="********"
            [(ngModel)]="request.PASSWORD"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="form-group">
          <label>Họ và tên</label><span style="color: red">*</span>
          <input
            type="text"
            class="form-control"
            placeholder="Fullname"
            [(ngModel)]="request.NAME"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="form-group">
          <label>SĐT</label><span style="color: red">*</span>
          <input
            type="text"
            class="form-control"
            placeholder="Phonenumber"
            [(ngModel)]="request.PHONE_NUM"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div class="form-group">
          <label>Địa chỉ</label>
          <input
            type="text"
            class="form-control"
            placeholder="Company"
            [(ngModel)]="request.ADDRESS"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="update ml-auto mr-auto">
        <button
          type="submit"
          class="btn btn-primary btn-round"
          (click)="doSubmit()"
        >
          Gửi
        </button>
      </div>
    </div>
  </div>
</div>

<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '25vw'}" position="top" [baseZIndex]="10000"></p-confirmDialog>
