<body>
    <div style="width: 100%;height: 380p;">
        <img src="../../../assets/img/banner-car.jpg" 
            style="width: 100%;height: 100%;"
        />
    </div>
  
    <main id="main">
      <section id="about">
        <div class="container">
  
          <header class="section-header">
            <h3>Giới thiệu</h3>
            <p>Garage Car là một doanh nghiệp chuyên cung cấp các dịch vụ về sửa chữa và bảo hành oto</p>
          </header>
  
          <div class="row about-container">
  
            <div class="col-lg-6 content order-lg-1 order-2">

              <div class="icon-box wow fadeInUp">
                <div class="icon"><i class="fa fa-car"></i></div>
                <h4 class="title">Nguồn gốc</h4>
                <p class="description">Garage Car được bà Đỗ Thị Bút thành lập từ những năm 1998 sau khi tách khỏi Công ty cổ phần cơ khí 19/5</p>
              </div>
  
              <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                <div class="icon"><i class="fa fa-cogs"></i></div>
                <h4 class="title">Công nghệ</h4>
                <p class="description">Với những thiết bị hiện đại cùng dàn thợ có tay nghề, chúng tôi cam kết luôn mang đến chất lượng tốt nhất</p>
              </div>
  
              <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="icon"><i class="fa fa-gift"></i></div>
                <h4 class="title">Thành tựu</h4>
                <p class="description">Doanh nghiệp đã có kinh nghiệm trong mảng sửa chữa oto hơn 20 năm, phục vụ và đem đến sự hài lòng cho hàng ngàn khách hàng</p>
              </div>
  
            </div>
  
            <div class="col-lg-6" style="height: 300px;">
              <img src="../../../assets/img/banner-6.png" 
                style="height: 300px;width: 100%;"
              class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </section>
      <section id="services" class="section-bg">
        <div class="container">
  
          <header class="section-header">
            <h3>Dịch Vụ</h3>
            <p>Doanh nghiệp chuyên cung cấp các dịch vụ sửa chữa đến bảo hành từ A-Z cho khách hàng</p>
          </header>
  
          <div class="row">
  
            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                <h4 class="title">Sửa chữa</h4>
                <p class="description">Cung cấp dịch vụ sửa chữa các hư hỏng của xe ở mọi cấp độ theo đúng quy trình</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
                <h4 class="title">Bảo hành</h4>
                <p class="description">Các quyền lợi về bảo hành được miễn phí hoàn toàn cho các khách hàng của doanh nghiệp</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                <h4 class="title">Quản lý đơn hàng</h4>
                <p class="description">Khách hàng có thể quản lý được trạng thái đơn hàng của mình một cách thuận lợi</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
                <h4 class="title">Cứu hộ</h4>
                <p class="description">Miễn phí cứu hộ, kéo xe về xưởng khi xe gặp sự cố trên đường</p>
              </div>
            </div>
          </div>
  
        </div>
      </section>

      <section id="contact">
        <div class="container-fluid">
  
          <div class="section-header">
            <h3>Liên Hệ</h3>
          </div>
  
          <div class="row wow fadeInUp">
            <div class="col-lg-8">
              <div class="map mb-4 mb-lg-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.9776677858176!2d105.80001861440675!3d20.99353229435706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acbfac608051%3A0x4d0dd9816456b506!2zMTIgS2h14bqldCBEdXkgVGnhur9uLCBUaGFuaCBYdcOibiBC4bqvYywgVGhhbmggWHXDom4sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1608738899191!5m2!1svi!2s" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>
              </div>
            </div>

            <div class="col-lg-4">
              <div style="text-align: center;">
                <h6>Thông tin doanh nghiệp</h6>
              </div>
              <hr>
              <div class="row" style="font-size: 18px;"> 
                <b>Carage Car .In</b>
              </div>
              <br>
              <div class="row" style="margin-bottom: 5px;"> 
                <b>Địa chỉ: </b> 12 Khuất Duy Tiến, Thanh Xuân Bắc, Thanh Xuân, Hà Nội
              </div>

              <div class="row" style="margin-bottom: 5px;"> 
                <b>Điện thoại: </b> 0915997460
              </div>

              <div class="row" style="margin-bottom: 5px;"> 
                <b>Email: </b> quangoc98@gmail.com
              </div>

              <div class="row" style="margin-bottom: 5px;"> 
                <b>Fax: </b> 898989998999
              </div>
            </div>
          </div>
        </div>
      </section>
  
    </main>
    
    <script src="main.js"></script>
  </body>