<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" style="float: left;">Tiếp nhận & Sửa chữa</h4>
        <button style="float: right;" pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded" (click)="selectedRepairing(null, null,null)"></button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <p-table [columns]="cols" [value]="dataGridRepairing" [paginator]="true" [rows]="3" selectionMode="single">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr (dblclick)="selectedRepairing($event, rowData,null)">
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Bảo hành</h4>
        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <p-table [columns]="cols_guarantee" [value]="dataGridGuarantee" [paginator]="true" [rows]="3" selectionMode="single">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr (dblclick)="selectedGuaranted($event, rowData)">
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Hoàn thành</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <p-table [columns]="cols" [value]="dataGridCompleted" [paginator]="true" [rows]="3" selectionMode="single">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr (dblclick)="selectedRepairing($event, rowData,3)">
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>