<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" style="float: left;">Danh sách nhân viên</h4>
        <!-- <button style="float: right;" pButton pRipple type="button" label="ADD+" class="p-button-raised p-button-text"></button> -->
        <button *ngIf="requestLoggedIn.ROLE == 'ADMIN'" style="float: right;" pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded" (click)="selectedStaff(null, null)"></button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <p-table [columns]="cols" [value]="dataGridStaff" [paginator]="true" [rows]="6" selectionMode="single">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr (dblclick)="selectedStaff($event, rowData)">
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" style="float: left;">Danh sách khách hàng</h4>
        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
        <button style="float: right;" pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-outlined" (click)="selectedCustomer(null, null)"></button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <p-table [columns]="cols_cus" [value]="dataGridCustomer" [paginator]="true" [rows]="6" selectionMode="single">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr (dblclick)="selectedCustomer($event, rowData)">
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>