<div class="card card-user">
    <!-- <div class="card-header">
            <h5 class="card-title">Edit Profile</h5>
        </div> -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Họ và tên</label> <span style="color: red;">*</span>
                            <input type="text" class="form-control" placeholder="fullname..."
                                [(ngModel)]="request.NAME">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Chức vụ</label>
                            <div>
                                <p-radioButton name="role" value="ADMIN" [(ngModel)]="request.ROLE" inputId="role1"
                                ></p-radioButton>
                                <label style="margin-left: 5px; margin-top: 15px;">Administrator</label>
                                <span style="margin-left: 50px;"></span>
                                <p-radioButton name="role" value="EMPLOYEE" [(ngModel)]="request.ROLE" inputId="role2"
                                ></p-radioButton>
                                <label style="margin-left: 5px; margin-top: 15px;">Employee</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tên đăng nhập</label><span style="color: red;">*</span>
                            <input type="text" class="form-control" placeholder="username..."
                                [(ngModel)]="request.USERNAME">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Mật khẩu</label><span style="color: red;">*</span>
                            <input type="password" class="form-control" placeholder="********"
                                [(ngModel)]="request.PASSWORD">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>SĐT</label><span style="color: red;">*</span>
                    <input type="number" class="form-control" placeholder="phonenumber..."
                        [(ngModel)]="request.PHONE_NUM">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="email..." [(ngModel)]="request.EMAIL">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Số CMT/căn cước</label><span style="color: red;">*</span>
                    <input type="text" class="form-control" placeholder="ID Number..." [(ngModel)]="request.ID_NUM">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Ngày sinh</label>
                    <div>
                        <input class="form-control" type="date" id="birthday" name="birthday" [(ngModel)]="request.BIRTH_DT">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">

                <label>Tỉnh thành</label><span style="color: red;">*</span>
                <div style="width: 100%;">
                    <p-dropdown [options]="cities" optionLabel="Title" optionValue="ID" [(ngModel)]="selectedCity"
                        placeholder="Select a City" (onChange)="onChangeCity($event)">
                    </p-dropdown>
                </div>
            </div>
            <div class="col-md-4">

                <label>Quận/huyện</label><span style="color: red;">*</span>
                <div style="width: 100%;">
                    <p-dropdown [options]="districts" optionLabel="Title" optionValue="ID" [(ngModel)]="selectedDistrict"
                        placeholder="Select a District" (onChange)="onChangeDistrict($event)">
                    </p-dropdown>
                </div>
            </div>
            <div class="col-md-4">

                <label>Phường/xã</label><span style="color: red;">*</span>
                <div style="width: 100%;">
                    <p-dropdown [options]="wards" optionLabel="Title" optionValue="ID" [(ngModel)]="selectedWard"
                        placeholder="Select a Ward" (onChange)="onChangeWard($event)">
                    </p-dropdown>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input type="text" class="form-control" placeholder="address" [(ngModel)]="request.ADDRESS">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Thông tin thêm</label>
                    <textarea class="form-control textarea" [(ngModel)]="request.ABOUT"></textarea>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="requestLoggedIn.ROLE == 'ADMIN'">
            <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round" (click)="doSubmit()">Gửi</button>
            </div>
        </div>
    </div>
</div>

<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '25vw'}" position="top" [baseZIndex]="10000"></p-confirmDialog>