<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="background-color: #F5F5F5;">
                <div style="display: inline;">
                    <span style="color: red;float: left;">*</span>
                    <h6 class="card-title" style="float: left;">Thông tin khách hàng</h6>
                </div>  
            </div>
            <div class="card-body">
        
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Họ và tên</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                <input type="text" class="form-control" placeholder="Name..." [(ngModel)]="request.NAME" readonly>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>SĐT</label>
                            <input type="number" class="form-control" placeholder="phone..." [(ngModel)]="request.PHONE_NUM" readonly>
                        </div>
                    </div>
        
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input type="text" class="form-control" placeholder="address..." [(ngModel)]="request.ADDRESS" readonly>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="background-color: #F5F5F5;">
                <div style="display: inline;">
                    <span style="color: red;float: left;">*</span>
                    <h6 class="card-title">Thông tin chung</h6>
                </div>
            </div>
            <div class="card-body">
        
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Loại</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-tags"></i></span>
                                <input type="text" class="form-control" value="Bảo hành" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Trạng thái</label>
                            <div>
                                <p-dropdown [options]="status" optionLabel="Title" optionValue="ID" [(ngModel)]="selectedStatus" [readonly]="isOnlyView"
                                    placeholder="Select a Status" (onChange)="onChangeStatus($event)">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ngày tiếp nhận</label>
                            <input type="date" class="form-control" [(ngModel)]="request.START_DT" readonly=true>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ngày bàn giao(dự kiến)</label>
                            <input type="date" class="form-control" [(ngModel)]="request.END_DT" [readonly]="isOnlyView">
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header" style="background-color: #F5F5F5;">
        <h6 class="card-title">Thông tin phương tiện</h6>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Tên</label><span style="color: red;">*</span>
                    <input type="text" class="form-control" placeholder="Vehicle name..." [(ngModel)]="request.CAR_NAME" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Hãng</label>
                    <input type="text" class="form-control" placeholder="Model..." [(ngModel)]="request.CAR_MODEL" readonly>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Màu</label>
                    <input type="text" class="form-control" placeholder="Color..." [(ngModel)]="request.CAR_COLOR" readonly>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Biển số xe</label><span style="color: red;">*</span>
                    <input type="text" class="form-control" placeholder="number..." [(ngModel)]="request.CAR_NUM" readonly>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Tình trạng xe khi tiếp nhận</label>
                    <textarea class="form-control" [rows]="4" [cols]="25" pInputTextarea [(ngModel)]="request.ABOUT" [readonly]="isOnlyView"
                                autoResize="autoResize"></textarea>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="update ml-auto mr-auto">
        <button *ngIf="!isOnlyView" type="submit" class="btn btn-primary btn-round" (click)="doSubmit()">Gửi</button>
        <button *ngIf="!isOnlyView" type="submit" class="btn btn-primary btn-round" (click)="doDelete()">Xóa</button>
    </div>
</div>

<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '25vw'}" position="top" [baseZIndex]="10000"></p-confirmDialog>